---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Welcome </h1>
<p>My name is Matt. I am a pilot and a tech enthusiast. I created this site to
  develop my writing skills and to share some of what I've learned during my
  life.
  </p>
<!--My last {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>-->
<h2>Recent posts</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>